@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(32, 35%, 89%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
body {
  background-color: var(--cream);
}
main {
  width: 100vw;
  margin-top: 20px;
}
#img-container {
  width: 80%;
  max-width: 680px;
  margin: auto;
  margin-bottom: -2%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.img-mobile {
  max-inline-size: 100%;
  block-size: auto;
  transition-duration: 1s;
}
.img-mobile:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
.img-desktop {
  display: none;
  max-inline-size: 100%;
  block-size: auto;
}
#content {
  width: 80%;
  max-width: 680px;
  margin: auto;
  background-color: var(--white);
  padding: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 0 0 20px 20px;
  margin-bottom: 50px;
}
#product-type {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--dark-gray-blue);
  font-weight: 400;
}
#product-name {
  font-family: "Fraunces", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: var(--very-dark-blue);
}
#product-description {
  color: var(--dark-gray-blue);
  width: 70%;
  text-wrap: wrap;
  line-height: 1.5rem;
}
#pricing {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1rem;
}
#pricing p:first-of-type {
  font-size: 3rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: var(--dark-cyan);
}
#old-price {
  color: var(--dark-gray-blue);
  text-decoration: line-through;
}
#add-btn {
  background-color: var(--dark-cyan);
  color: var(--white);
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  font-weight: 700;
  fill: var(--white);
  transition-duration: 0.5s;
  outline: 2px solid var(--dark-cyan);
  outline-offset: -2px;
}

#add-btn:hover {
  background-color: var(--white);
  outline: 2px solid var(--dark-cyan);
  outline-offset: -2px;
  color: var(--dark-cyan);
  cursor: pointer;
  fill: var(--dark-cyan);
  transition-duration: 0.3s;
}
footer {
  text-align: center;
  padding-bottom: 50px;
}
@media (min-width: 1000px) {
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
    min-height: 80vh;
    object-fit: cover;
    transition-duration: 0.5s;
  }
  .img-desktop:hover {
    transform: scale(1.2);
    transition-duration: 1s;
  }
  main {
    display: flex;
    width: 80%;
    max-width: 50vw;
    max-height: 80vh;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
  }
  #img-container {
    margin-bottom: 0;
    width: 60%;
    overflow: hidden;
    border-radius: 0;
  }
  #content {
    all: unset;
    width: 50%;
    background-color: var(--white);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}
@media (min-width: 1440px) {
  #content {
    gap: 4.5rem;
  }
  #product-description {
    line-height: 2rem;
    font-size: 1.5rem;
    width: auto;
  }
}
